<%= form_with url: create_comment_attendances_path, html: {style: "width: 100%;max-width: 330px;padding: 15px;margin: auto;"} do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "What did you do today?" %>
    <%= form.text_area :comments1, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "What will you do tomorrow?" %>
    <%= form.text_area :comments2, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "Are there any impediments in your way?" %>
    <%= form.text_area :comments3, class: "form-control" %>
  </div>

  <div class="actions" style="text-align: center;padding: 10px;">
    <%= form.submit "Log Time-Out", class: "btn btn-lg btn-danger" %>
  </div>
<% end %>
